<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projeto_Oak.Properties.Settings.Projeto_OakConnectionString"
            connectionString="Data Source=IAGO\SQLEXPRESS;Initial Catalog=Projeto_Oak;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>